//////////////////////////////////////////////# PHP dependencies/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/vendor
composer.lock

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace
.phpunit.result.cache

# Laravel specific
.env
.env.backup
.phpunit.cache
.php-cs-fixer.cache

# Testing
/tests/storage
/coverage
coverage.txt
.phpunit.result.cache

# Operating System
.DS_Store
Thumbs.db

# Package specific
/storage/*.key
/.vagrant
/.phpunit.cache
node_modules/
npm-debug.log
yarn-error.log
*.swp
*.swo
